.footer {
    background-color: #242424;
    font-size: 18px;
    margin-top: 40px;
    max-width: 100%;
    padding: 30px 30px 10px 30px;
    text-align: center;
    webkit-box-shadow: 10px 10px 48px -14px #ff8c00;
    -moz-box-shadow: 10px 10px 48px -14px #ff8c00;
    box-shadow: 10px 10px 48px -14px #ff8c00;
}

.newFooter {
    background-color: #242424;
    font-size: 18px;
    margin-top: 40px;
    max-width: 100%;
    padding: 30px 30px 10px 30px;
    text-align: center;
    webkit-box-shadow: 10px 10px 48px -14px crimson;
    -moz-box-shadow: 10px 10px 48px -14px crimson;
    box-shadow: 10px 10px 48px -14px crimson;
}
.footer__link{
    color:white;
    text-decoration: none;
}
.footer__link:visited{
    color:white;
}
.footer__link:hover{
    color:#ff8c00;

}