.mainNav {
    max-width: 100%;
    background-color: #ff8c00;
    padding: 10px;
}

.mainNav__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content:center;
}

.mainNav__menuOption {

    text-transform: uppercase;
    list-style-type: none;
}

.mainMenu_link {
    text-decoration: none;
    color: #ffedc2;
    font-weight: 800;
    margin:0 25px;
}

.mainMenu_link:hover {
    color: #222;
    border: 2px solid #222;
    padding: 3px;
    margin: 0 20px;
 
    
}